In [ ]:
!wget https://github.com/facebookresearch/fastText/archive/v0.9.2.zip
!unzip v0.9.2.zip
%cd fastText-0.9.2
!make

In [6]:
# 현재위치
!pwd

/content/fastText-0.2.0/fastText-0.9.2

In [13]:
import pandas as pd
train_df = pd.read_csv('../train_df.txt', delimiter='\t', header=None)
train_df.head()
# 아래처럼 target에 '__label__' 이라는 prefix를 붙여주면 된다.
# 간단한 전처리후의 상태 (형태소 tokenization)
# test_df.txt는 target이 없는 상태

                                                   0           1
0  [ 이데일리 MARKETPOINT ] 15 : 32 현재 코스닥 기관 678 억 순 매도  __label__0
1  " 실적 기반 " 저가 에 매 집 하 아야 하 ㄹ 8월 급등 유망주 TOP 5 전격 공개  __label__1
2         하이스 탁 론 , 선취 수수료 없 는 월 0 . 4 % 최저 금리 상품 출시  __label__1
3                종합 경제 정보 미디어 이데일리 - 무단 전재 & 재 배포 금지  __label__0
4                       전국 적 이 ㄴ 소비 붐 조성 에 기여 하 ㄹ 예정  __label__0

In [8]:
# train
# 1초정도 걸리는 것 같습니다 so fast...!
!./fasttext supervised -input ../train_df.txt -output model -dim 2

Read 1M words
Number of words:  36629
Number of labels: 2
Progress: 100.0% words/sec/thread:  789544 lr:  0.000000 avg.loss:  0.076844 ETA:   0h 0m 0s

In [10]:
# predict (by model.bin)
# result save(> result.txt)
!./fasttext predict model.bin ../test_df.txt > result.txt

In [16]:
# 이런 식으로 결과가 나옵니다.
result = pd.read_csv('result.txt', delimiter='\t', header=None)
result.head(10)

            0
0  __label__0
1  __label__0
2  __label__0
3  __label__0
4  __label__0
5  __label__0
6  __label__0
7  __label__0
8  __label__0
9  __label__0