# fasttext
https://github.com/facebookresearch/fastText/#text-classification

In [1]:
import numpy as np
import pandas as pd

In [19]:
train = pd.read_csv('../data/news_train.csv')
test = pd.read_csv('../data/news_test.csv')
sub = pd.read_csv('../data/sample_submission.csv')

In [29]:
train.head()

,n_id,date,title,content,ord,info
0,NEWS02580,20200605,[마감]코스닥 기관 678억 순매도,[이데일리 MARKETPOINT]15:32 현재 코스닥 기관 678억 순매도,1,0
1,NEWS02580,20200605,[마감]코스닥 기관 678억 순매도,"""실적기반"" 저가에 매집해야 할 8월 급등유망주 TOP 5 전격공개",2,1
2,NEWS02580,20200605,[마감]코스닥 기관 678억 순매도,"하이스탁론, 선취수수료 없는 월 0.4% 최저금리 상품 출시",3,1
3,NEWS02580,20200605,[마감]코스닥 기관 678억 순매도,종합 경제정보 미디어 이데일리 - 무단전재 & 재배포 금지,4,0
4,NEWS09727,20200626,"롯데·공영 등 7개 TV 홈쇼핑들, 동행세일 동참",전국적인 소비 붐 조성에 기여할 예정,1,0

In [30]:
def labelling(x):
    return '__label__' + str(x)

train['label'] = train['info'].map(labelling)

In [32]:
train_df = train.loc[:,['content','label']]
test_df = test.loc[:,'content']
test_df = pd.DataFrame(test_df)

In [36]:
from konlpy.tag import Komoran
tokenizer = Komoran()

In [49]:
def token(x):
    result = tokenizer.morphs(x)
    return ' '.join(result)

train_df['content_token'] = train_df['content'].map(token)

In [57]:
test_df['content_token'] = test_df['content'].map(token)

In [60]:
train_df_final = train_df.loc[:,['content_token','label']]
test_df_final = test_df.loc[:,'content_token']
test_df_final = pd.DataFrame(test_df_final)

In [62]:
train_df_final.to_csv('train_df.txt', index=False, header=None, sep="\t")
test_df_final.to_csv('test_df.txt', index=False, header=None, sep="\t")

# After fasttext

In [69]:
result = pd.read_csv('result.txt', header=None)

In [73]:
result['info'] = result[0].map(lambda x : x[-1])

In [75]:
result.head()

            0 info
0  __label__0    0
1  __label__0    0
2  __label__0    0
3  __label__0    0
4  __label__0    0

In [76]:
sub['info'] = result['info']
sub.to_csv('submission.csv', index=False)

In [77]:
sub

                  id info
0        NEWS00237_1    0
1        NEWS00237_2    0
2        NEWS00237_3    0
3        NEWS00237_4    0
4        NEWS00237_5    0
...              ...  ...
142560  NEWS09482_72    1
142561  NEWS09482_73    1
142562  NEWS09482_74    1
142563  NEWS09482_75    1
142564  NEWS09482_76    1

[142565 rows x 2 columns]