# Index

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [5]:
petition = pd.read_csv('petition.csv', parse_dates=['start','end'], index_col=0)
petition.head(3)

,start,end,answered,votes,category,title,content
article_id,,,,,,,
21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

In [4]:
petition.shape

(395547, 8)

In [6]:
petition.isnull().sum()

start       0
end         0
answered    0
votes       0
category    0
title       0
content     1
dtype: int64

In [12]:
petition.columns

Index(['start', 'end', 'answered', 'votes', 'category', 'title', 'content'], dtype='object')

In [14]:
import re

In [15]:
petition['category'].unique()

array(['안전/환경', '기타', '미래', '일자리', '보건복지', '정치개혁', '경제민주화', '인권/성평등',
       '외교/통일/국방', '육아/교육', '문화/예술/체육/언론', '반려동물', '교통/건축/국토', '행정',
       '농산어촌', '저출산/고령화대책', '성장동력'], dtype=object)

In [18]:
p = r'.*(돌봄|육아|초등).*'
care = petition[petition['title'].str.match(p) |
        petition['content'].str.match(p, flags=re.MULTILINE)]
care.shape

(13173, 7)

In [31]:
care.head(3)

,start,end,answered,votes,category,title,content
article_id,,,,,,,
24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...
36,2017-08-19,2017-08-26,0,1,인권/성평등,한국채식인구 100만명. 학교 급식 및 군대에서 현미채식 선택권을 보장해주십시오!,문재인 대통령님과 각 정부 인사분들께 마음속 깊이 존경과 감사를 표합니다. 대한민국...
45,2017-08-19,2017-11-17,0,0,육아/교육,초등학교 교사 임용 시험 관련 해결방안,초등학교 교사 임용 시험을 수능 시험 처럼 전국 단위로 실시하고난 후에\n1지망 2...

## 01. Tokenization

- sentence tokenization

In [30]:
#!pip install cython
#!pip install kss
import kss

In [45]:
tmpContent = care.loc[45,'content']

In [46]:
tmpContent

'초등학교 교사 임용 시험을 수능 시험 처럼 전국 단위로 실시하고난 후에\\n1지망 2지망 3지망으로 근무하고 싶은 지역을 선택해서 성적순으로 배정했으면 합니다.\\n그리고 해당 대학이 소재한 교육청에서 임용 시험 응시할 때 주어지는 가산점도 없애야합니다.\\n이미 수능 시험 점수에 맞춰서 해당 대학에 합격했으므로 수능 점수의 유효성은 끝이 났습니다.\\n전국 단위의 시험을 봐서 과목별 원점수,표준변환점수,백분위를 성적표에 공지해서\\n예비 교사들이 본인 성적에 맞게 근무지역을 선택하는 것입니다.\\n만약 응시자가 성적이 높다면 1지망 지역에 배정이 될테고\\n점수가 낮으면 2지망 혹은 3지망으로 밀리거나 임용 탈락이 되겠지요\\n배정 받은 지역에서 근무하면서 해당 지역이 마음에 들면 계속 근무하고\\n해당 지역이 마음에 들지 않으면 다음에 다시 시험을 봐서 근무지를 옮길 수 있도록 하는 것입니다.'

In [47]:
for sen in kss.split_sentences(tmpContent):
    print(sen)

초등학교 교사 임용 시험을 수능 시험 처럼 전국 단위로 실시하고난 후에\n1지망 2지망 3지망으로 근무하고 싶은 지역을 선택해서 성적순으로 배정했으면 합니다.
\n그리고 해당 대학이 소재한 교육청에서 임용 시험 응시할 때 주어지는 가산점도 없애야합니다.
\n이미 수능 시험 점수에 맞춰서 해당 대학에 합격했으므로 수능 점수의 유효성은 끝이 났습니다.
\n전국 단위의 시험을 봐서 과목별 원점수,표준변환점수,백분위를 성적표에 공지해서\n예비 교사들이 본인 성적에 맞게 근무지역을 선택하는 것입니다.
\n만약 응시자가 성적이 높다면 1지망 지역에 배정이 될테고\n점수가 낮으면 2지망 혹은 3지망으로 밀리거나 임용 탈락이 되겠지요
\n배정 받은 지역에서 근무하면서 해당 지역이 마음에 들면 계속 근무하고\n해당 지역이 마음에 들지 않으면 다음에 다시 시험을 봐서 근무지를 옮길 수 있도록 하는 것입니다.

- 형태소 토큰화(morpheme tokenization)
    - 영어와 다르게 '어절'이 아니라 '형태소'!!

In [59]:
from konlpy.tag import Mecab
from torchtext import data

tokenizer 선언

In [60]:
tokenizer = Mecab()

In [48]:
tmpTitle = care.loc[45,'title']

In [49]:
tokenizer.morphs(tmpTitle)

['초등', '학교', '교사', '임용', '시험', '관련', '해결', '방안']

In [50]:
tokenizer.pos(tmpTitle)

[('초등', 'NNG'),
 ('학교', 'NNG'),
 ('교사', 'NNG'),
 ('임용', 'NNG'),
 ('시험', 'NNG'),
 ('관련', 'NNG'),
 ('해결', 'NNG'),
 ('방안', 'NNG')]

In [51]:
tokenizer.nouns(tmpTitle)

['초등', '학교', '교사', '임용', '시험', '관련', '해결', '방안']

## 02. Cleaning and Normalization
- Cleaning : 갖고 있는 코퍼스에서 노이즈 데이터 제거
- Normalization : 표현 방법이 다른 단어들을 통합시켜서 같은 단어로 만들기

In [52]:
def preprocessing(text):
    text = re.sub('\\\\n', ' ', text)
    text = re.sub(' +',' ', text)
    return text

In [54]:
tmpContent

'초등학교 교사 임용 시험을 수능 시험 처럼 전국 단위로 실시하고난 후에\\n1지망 2지망 3지망으로 근무하고 싶은 지역을 선택해서 성적순으로 배정했으면 합니다.\\n그리고 해당 대학이 소재한 교육청에서 임용 시험 응시할 때 주어지는 가산점도 없애야합니다.\\n이미 수능 시험 점수에 맞춰서 해당 대학에 합격했으므로 수능 점수의 유효성은 끝이 났습니다.\\n전국 단위의 시험을 봐서 과목별 원점수,표준변환점수,백분위를 성적표에 공지해서\\n예비 교사들이 본인 성적에 맞게 근무지역을 선택하는 것입니다.\\n만약 응시자가 성적이 높다면 1지망 지역에 배정이 될테고\\n점수가 낮으면 2지망 혹은 3지망으로 밀리거나 임용 탈락이 되겠지요\\n배정 받은 지역에서 근무하면서 해당 지역이 마음에 들면 계속 근무하고\\n해당 지역이 마음에 들지 않으면 다음에 다시 시험을 봐서 근무지를 옮길 수 있도록 하는 것입니다.'

In [53]:
preprocessing(tmpContent)

'초등학교 교사 임용 시험을 수능 시험 처럼 전국 단위로 실시하고난 후에 1지망 2지망 3지망으로 근무하고 싶은 지역을 선택해서 성적순으로 배정했으면 합니다. 그리고 해당 대학이 소재한 교육청에서 임용 시험 응시할 때 주어지는 가산점도 없애야합니다. 이미 수능 시험 점수에 맞춰서 해당 대학에 합격했으므로 수능 점수의 유효성은 끝이 났습니다. 전국 단위의 시험을 봐서 과목별 원점수,표준변환점수,백분위를 성적표에 공지해서 예비 교사들이 본인 성적에 맞게 근무지역을 선택하는 것입니다. 만약 응시자가 성적이 높다면 1지망 지역에 배정이 될테고 점수가 낮으면 2지망 혹은 3지망으로 밀리거나 임용 탈락이 되겠지요 배정 받은 지역에서 근무하면서 해당 지역이 마음에 들면 계속 근무하고 해당 지역이 마음에 들지 않으면 다음에 다시 시험을 봐서 근무지를 옮길 수 있도록 하는 것입니다.'

## 03. Stemming and Lemmatization

## 04. Stopword
- csv, txt 로 따로 불용어 리스트를 만들어 놓다 불어와서 사용하면 좋다

In [63]:
stopwords = '하지만 그리고 그런데 저는 제가 \
그럼 이런 저런 합니다 많은 많이 정말 너무 또는 그렇게 도대체 다시 \
계속 다음에'

stopwords = stopwords.split(' ')
stopwords

['하지만',
 '그리고',
 '그런데',
 '저는',
 '제가',
 '그럼',
 '이런',
 '저런',
 '합니다',
 '많은',
 '많이',
 '정말',
 '너무',
 '또는',
 '그렇게',
 '도대체',
 '다시',
 '계속',
 '다음에']

In [64]:
tmp = preprocessing(tmpContent)
tmp = tokenizer.morphs(tmp)

result = [word for word in tmp if not word in stopwords]
print(result)

['초등', '학교', '교사', '임용', '시험', '을', '수능', '시험', '처럼', '전국', '단위', '로', '실시', '하', '고', '난', '후', '에', '1', '지망', '2', '지망', '3', '지망', '으로', '근무', '하', '고', '싶', '은', '지역', '을', '선택', '해서', '성적순', '으로', '배정', '했', '으면', '.', '해당', '대학', '이', '소재', '한', '교육청', '에서', '임용', '시험', '응시', '할', '때', '주어지', '는', '가산점', '도', '없애', '야', '.', '이미', '수능', '시험', '점수', '에', '맞춰서', '해당', '대학', '에', '합격', '했으므로', '수능', '점수', '의', '유효', '성', '은', '끝', '이', '났', '습니다', '.', '전국', '단위', '의', '시험', '을', '봐서', '과목', '별', '원', '점수', ',', '표준', '변환', '점수', ',', '백', '분위', '를', '성적표', '에', '공지', '해서', '예비', '교사', '들', '이', '본인', '성적', '에', '맞', '게', '근무', '지역', '을', '선택', '하', '는', '것', '입니다', '.', '만약', '응시자', '가', '성적', '이', '높', '다면', '1', '지망', '지역', '에', '배정', '이', '될', '테', '고', '점수', '가', '낮', '으면', '2', '지망', '혹은', '3', '지망', '으로', '밀리', '거나', '임용', '탈락', '이', '되', '겠', '지요', '배정', '받', '은', '지역', '에서', '근무', '하', '면서', '해당', '지역', '이', '마음', '에', '들', '면', '근무', '하', '고', '해당', '지역', '이', '마음', '에', '들', '지', '않', '으면', '다음', '에', '시험', '을', '봐서', '근무지', '를', '옮길', '수', '있', '도록', '하', '는', '것', '입니다', '.']

## 05. Regular Expression
- https://wikidocs.net/21703

## 06. Integer Encoding

In [65]:
from collections import Counter

In [68]:
vocab = Counter(result)

In [70]:
vocab.most_common(10)

[('에', 9),
 ('이', 8),
 ('시험', 6),
 ('하', 6),
 ('지망', 6),
 ('지역', 6),
 ('을', 5),
 ('.', 5),
 ('점수', 5),
 ('고', 4)]

In [73]:
wordToIndex = {}
i = 0
for (word, frequency) in vocab.most_common(5) :
    i = i+1
    wordToIndex[word] = i
print(wordToIndex)

{'에': 1, '이': 2, '시험': 3, '하': 4, '지망': 5}

## 07.Padding
- 문장의 길이를 맞춘다

In [75]:
sentence = []
for sen in kss.split_sentences(preprocessing(tmpContent)):
    sentence.append(sen)

sentenceToken = []
for i in sentence:
    sentenceToken.append(tokenizer.morphs(i))

forCount = np.hstack(sentenceToken) 
vocab = Counter(forCount)

wordToIndex = {}
i = 0
for (word, frequency) in vocab.most_common(len(vocab)) :
    i = i+1
    wordToIndex[word] = i

intSentence = []
for i in sentenceToken:
    intSentence.append([wordToIndex[key] for key in i])

In [97]:
maxLen = max(len(item) for item in intSentence)
print(maxLen)

74

In [98]:
# padding with 0
for item in intSentence:
    while len(item) < maxLen:
        item.append(0)
padded = np.array(intSentence)
padded

array([[ 41,  42,  21,  13,   3,   7,  14,   3,  43,  22,  23,  44,  45,
          4,  10,  46,  47,   1,  24,   5,  25,   5,  26,   5,  15,  11,
          4,  10,  48,  16,   6,   7,  27,  28,  49,  15,  17,  50,  18,
         29,   8,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 51,  12,  30,   2,  52,  53,  54,  31,  13,   3,  55,  56,  57,
         58,  19,  59,  60,  61,  62,  29,   8,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 63,  14,   3,   9,   1,  64,  12,  30,   1,  65,  66,  14,   9,
         32,  67,  68,  16,  69,   2,  70,  71,   8,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 22,  23,  32,   3,   7,  33,  72,  73,  74,   9,  34,  75,  76,
          9,  34,  77,  78,  35,  79,   1,  80,  28,  81,  21,  20,   2,
         82,  36,   1,  83,  84,  11,   6,   7,  27,   4,  19,  37,  38,
          8,  85,  86,  39,  36,   2,  87,  88,  24,   5,   6,   1,  17,
          2,  89,  90,  10,   9,  39,  91,  18,  25,   5,  92,  26,   5,
         15,  93,  94,  13,  95,   2,  96,  97,  98],
       [ 17,  99,  16,   6,  31,  11,   4, 100,  12,   6,   2,  40,   1,
         20, 101, 102,  11,   4,  10,  12,   6,   2,  40,   1,  20, 103,
        104,  18, 105,   1, 106,   3,   7,  33, 107,  35, 108, 109, 110,
        111,   4,  19,  37,  38,   8,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0]])

## 08. One hot encoding